
<!DOCTYPE html>

<html>
<head>
    <title>Asapp Chat</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.HomeController.index()">Asapp Chat</a>

                        <form method="POST" action="@routes.HomeController.addUser()" class="pull-right">
                            <input id="email" name="email" class="input-small" type="text" placeholder="Email Id">
                            <input id="password" name="password" class="input-small" type="password" placeholder="Password">
                            <button class="btn" type="submit">Sign Up</button>
                        </form>
                    
                </div>
            </div>
        </div>
        <div id="onAlert" class="alert-message">
            <p>
                <strong>Signup to chat</strong> <span></span>
            </p>
        </div>
    </body>
</html>
