@(email: String, member: String, messages: Collection[String], chatHistory: String, currentPage: Integer,maxPage: Integer)

@display(message: String) = {
    @for(tag <- message.split("\",\"")) {
        @if(tag.indexOf("username") != -1) {
            @for(user <- tag.replace("\"","").split(":")) {
                @if(user!="username") {
                    <span>@user : </span>
                }
            }
        }@if(tag.indexOf("message") != -1) {
            @for(value <- tag.replace("\"","").split(":")) {
                @if(value!="message") {
                    <span>@value</span>
                }
            }
        }
    }
}

@main(email) {
    <div class="page-header">
        <h1>Welcome to Asapp Chat</h1>
    </div>

    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    <div id="onopen" class="row">
        <div class="span10" id="main">
                <ul id="messages">@for(message <- messages) {
                    <li>@display(message)</li>}</ul>
            <textarea id="message"></textarea>
            <button id="sendButton" class="btn primary" type="submit">Send</button>
        </div>
        <div class="span4">
            <h2>Member</h2>
            <ul id="members">
                @member
            </ul>
        </div>
        @pagination(currentPage,maxPage,member,chatHistory)
    </div>
    <script>
    window.onload = function() {
    var chatSocket = new WebSocket("@routes.HomeController.chat().webSocketURL(request)");
    var username = "@email";
    var member = "@member";
    var chatHistory = "@chatHistory";
    chatSocket.onerror = function(error) {
            console.log('WebSocket Error: ' + error);
        };

        chatSocket.onopen = function(event) {
            $('#status').text('Connected to WebSocket');
        };

        chatSocket.onmessage = function(event) {
            var message = JSON.parse(event.data);
            console.log(message);
            $('#messages').append('<li class="received">'+message.username+' : '+ message.message + '</li>');
        };

        chatSocket.onclose = function(event) {
            $('#status').text('Disconnected from WebSocket.');
        };

        $('#memberbuttons').click(function(e) {
            $('#message').removeClass('hide');
            e.preventDefault();
            username1 = $('#username').val();
            console.log(username);
            chatSocket.send(JSON.stringify({type: 'join', username: username}));
            $('#username').val('');
            return false;
        });

        $('#sendButton').click(function(e) {
            e.preventDefault();
            var message = $('#message').val();

            chatSocket.send(JSON.stringify({type: "talk", username: username, chatHistory: chatHistory,chatMessage: message}));
            $('#message').val('');
            return false;
        });
}
    </script>
}